body{
  background-color: : rgb(255, 215, 0);

}

.content {
  min-height: 99vh;
}
figure{
  width: 100vw;
  border: 5px solid #000;
margin-left: : 50%;
transform: translateX(-50%);
margin-top: 50px;
}
figure img{
  width: 100%;
}

figcaption{
  font-family: 'aBeeZee' , sans-serif;
}
section{
  background-color: #EFEFEF;
  max-width: 840px;
  margin-left: 0 auto;
  scroll-snap-type: y proximity
}
section div {
  scroll-snap-align: start;
}
h1{
  font-family: 'pacifico';
}

header ul{
display: flex;
}
header li{
  margin: 8px;
}
li a{


}
